// Specific CSS for your home-page
body {
  font-family: 'Your Chosen Font', sans-serif;
  background-color: #F2F4FF;
  color:  #4E6BF0;
}

p {
  font-size: 85%;
}

h1{
  font-family: 'Your Chosen Font', sans-serif;
}

h2 {
  font-family: 'Your Chosen Font', sans-serif;
  font-size: 151%;
}

h3 {
  font-family: 'Your Chosen Font', sans-serif;
}

img {
  width: 100%;
}

.btn{
  width: 60%;
  background-color: #007AFF;
  color: white;
}
