// Specific CSS for your home-page
body {
  font-family: 'McLaren', cursive;
  background-color: #69B3E4;
}

p {
  font-size: 69%;
}

h1{
  font-family: 'McLaren', cursive;
}

h2 {
  font-family: 'McLaren', cursive;
  font-size: 151%;
}

h3 {
  font-family: 'McLaren', cursive;
}

img {
  width: 100%;
}

.btn{
  width: 60%;
  background-color: #007AFF;
  color: white;
}
