// Specific CSS for your home-page
body {
  font-family: 'Your Chosen Font', sans-serif;
  background-color: #0E2954;
  color:  #F0EEED;
}

.background-home{
  background-color: #0E2954;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 85%;
  margin-bottom: 0;
}

h1{
  font-family: 'Your Chosen Font', sans-serif;
}

h2 {
  font-family: 'Your Chosen Font', sans-serif;
  font-size: 113%;
}

h3 {
  font-family: 'Your Chosen Font', sans-serif;
}

img {
  width: 100%;
}

.btn-primary{
  width: 38%;
  background-color: #2E8A99;
  color: white;
 }

