.navbar {
  background-color: #2E8A99;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  height: 78px;
  border-radius: 0% 0% 30px 30px;
  z-index: 1000;
}
.notification-icon{
  position: relative;
  width: 40px;
  height: 40px;
  padding: 6px;
  object-fit: cover;
}
.pending-count {
  position: absolute;
  top: -3px; /* Adjust the top position as needed to position the circle */
  right: -1px; /* Adjust the right position as needed to position the circle */
  background-color: #C92C6D; /* Circle background color */
  color: white; /* Text color */
  border-radius: 50%; /* Make it a circle */
  width: 20px; /* Adjust the width and height to control the circle size */
  height: 20px;
  text-align: center;
  line-height: 20px; /* Vertically center the text */
  font-size: 12px; /* Adjust the font size */
  display: none; /* Initially hide the circle */
}

.pending-count.show {
  display: block; /* Show the circle when there are pending requests */
}

.user-profile img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  object-fit: cover;
}
.logo img {
  width: 65px;
  height: auto;
}
.page-title{
  margin: 0;
  font-size: 23px;
  margin-right: -30px;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  margin-left: 45px;
}
.search-input {
  padding: 10px 30px 10px 10px; /* Adicione espaço à direita para o ícone */
  border: 1px solid #2E8A99;
  background-color: #0E2954;
  border-radius: 5px;
  width: 100%;
}
.search-input::placeholder {
  color: #F0EEED;
}
.search-button {
  background: none;
  border: none;
  position: absolute;
  right: 10px; /* Ajuste a posição conforme necessário */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-button i {
  color: #F0EEED; /* Cor do ícone */
  font-size: 18px; /* Tamanho do ícone */
}

.nav-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 0px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
