<%= render "shared/navbar_bottom" %>
<div class="bottom-navbar">
  <a href="/search">
    <i class="fas fa-search"></i>
  </a>
  <a href="/">
    <i class="fa-solid fa-house-chimney"></i>
  </a>
  <a href="/groups">
    <i class="fa-solid fa-people-group"></i>
  </a>
  <a href="/sessions">
    <i class="fa-solid fa-people-group"></i>
  </a>
</div>
