<div class="bottom-navbar">
  <%= link_to dashboard_path do %>
    <i class="fas fa-house-chimney"></i>
  <% end %>
  <%= link_to dashboard_path do %>
    <i class="fas fa-search"></i>
  <% end %>
  <%= link_to groups_path do %>
    <i class="fa-solid fa-people-group"></i>
  <% end %>
  <%= link_to groups_path do %>
    <i class="fa-regular fa-calendar-days"></i>
  <% end %>
</div>
