<div class="navbar">
  <div class="d-flex justify-content-between container-fluid">
    <div class="logo">
      <img src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1693480555/studylogo2_i4wwsv.png" />
    </div>
    <h1 class="page-title"><%= @page_title %></h1>
    <% if current_user.picture? %>
      <div class="user-profile">
        <%= image_tag current_user.picture %>
      </div>
    <% else %>
      <div class="user-profile">
        <%= link_to profile_path do %>
          <%= image_tag "https://res.cloudinary.com/ddfjqexgw/image/upload/v1693490930/DefaultAvatar_zwdogj.jpg" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
