<%= render "shared/navbar" %>

<div class="card mx-5 mt-2">
    <div class="map">
     <h1>map</h1>
     <h1>map</h1>
     <h1>map</h1>
     <h1>map</h1>
    </div>
</div>
<% @my_sessions.each do |session| %>
<%= session.name %>
<%= image_tag session.group.group_picture %>
<% end %>

<%= render "shared/navbar_bottom" %>
