<div class="background-home">
  <div class="container text-center my-3">
    <h1>StudyBuddy</h1>
    <p class="mb-4">Group. Learn. Thrive.</p>
    <div class="homepage-img">
      <%= image_tag "back.png", style: "width: 400px; margin: 0 auto;" %>
    </div>
    <h5 class="mt-2">Welcome to StudyBuddy</h5>
    <h5>Empower your studies with collaborative learning on StudyBuddy's dynamic platform.</h5>
    <div class="mt-5">
      <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>
    </div>
    <div class="mt-3">
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
