.session-card {
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  background-color: #4e6cf0ef;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  font-family: 'Your Chosen Font', sans-serif;


//   transition: transform 0.2s ease-in-out;

//   &:hover {
//     transform: scale(1.05);
//   }
}
h2 {
  font-family: 'Your Chosen Font', sans-serif;
  margin-left: 20px;
  font-size: 14px;
}
.session-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.session-details {
  padding: 20px;
  font-size: 12px;
  line-height: 1.4;


  .session-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fffefe;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: #ffffffd3;
  }

  /* Add more styling for session details as needed */
}


.group-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  font-family: 'Your Chosen Font', sans-serif;

  &:hover {
    transform: scale(1.05);
  }

  .group-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow for picture */
  }

  .group-details {
    padding: 20px;

    .group-name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: #0a0a0a;
    }

    .group-description {
      font-size: 0.9rem;
      color: #0a0a0a;
    }
  }
}

