a{
  text-decoration: none;
}

.session-card {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  font-family: 'Your Chosen Font', sans-serif;
}

h2 {
  font-family: 'Your Chosen Font', sans-serif;
  margin-left: 20px;
  font-size: 14px;
}
.session-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.session-details {
  padding: 20px;
  font-size: 12px;
  line-height: 1.4;
}

.session-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #332C39;
}

p {
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #332C39;
}

.group-card-search{
  background-color: #F0EEED;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  font-family: 'Your Chosen Font', sans-serif;
  
  .group-details {
    padding: 20px;
    color: #0a0a0a;

    .group-name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #0a0a0a;
    }

    .group-description {
      font-size: 0.9rem;
      color: #0a0a0a;
    }
  }
}

.group-card {
  display: flex;
  flex-direction: column;
  background-color: #F0EEED;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  font-family: 'Your Chosen Font', sans-serif;


  .group-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow for picture */
  }

  .group-details {
    padding: 20px;
    color: #0a0a0a;

    .group-name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #0a0a0a;
    }

    .group-description {
      font-size: 0.9rem;
      color: #0a0a0a;
    }
  }
}

.header-session {
  margin-top: 30px;
}





.card-comment {
  background-color: #fff;

  border: 1px solid #ccc;
}

.card-name-comment {
  margin-top: 10px;
}
.context {
  color:black
}
.card-going {
  background-color: #2E8A99;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color:F0EEED;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
  text-align-last: center;
}


.card-general-comment {
  border: 1px solid #bbbaba;
  background-color: #F0EEED;
  border-radius: 10px;
  padding: 5px;
  max-width: 300px;
  margin-left: 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-general-comment h2 {
  font-weight: bold;
}

.card-general-comment .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-general-comment .comment-content {
  margin: 0;
}

h6 {
margin-bottom: 0;

}
