@media (min-width: 992px) {
  .group-card-search {
    width: 600px;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 20px;
  }

  .search-input {
    margin-left: 200px;
    margin-right: 200px;
  }
  .send-request{
    margion:auto
  }
}
